[[source]]
url = "https://pypi.org/simple"
verify_ssl = "true"
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
poetry = "1.1.13"
pytest = "*"
pytest-cov = "*"

[scripts]
build = "poetry build"
test = "pytest"
